@model ProjectMVCReviewSite.Models.Review

@{
    ViewBag.Title = "Details";
}



<div class="jumbotron" id="detailsjumbo">
    <h1>@Html.DisplayFor(model => model.Category.Name)</h1>
    <p>
        <h2>@Html.DisplayFor(model => model.Content)</h2>
        <h2>@Html.DisplayFor(model => model.Price)</h2>
    </p>
   <p id="backbutton">@Html.ActionLink("Home", "Index", new { @class = "btn btn-primary" })</p> 
</div>







