@model IEnumerable<ProjectMVCReviewSite.Models.Review>
@{
    ViewBag.Title = "Review Index";
}


<div class="row" id="background">
    <div class="hidden-xs hidden-sm col-md-3" id="sidebarcol">
        <ul class="nav nav-pills nav-stacked" id="sidebar">@*****************Side NavBar Not Functional At the Moment: Still Playing with*****************@
            <li id="navbaroption" role="presentation"><p>Categories</p></li>
            <li id="navbaroption" role="presentation"><a href="#">Phones</a></li>
            <li id="navbaroption" role="presentation"><a href="#">Tablets</a></li>
            <li id="navbaroption" role="presentation"><a href="#">Laptops</a></li>
        </ul>@*****************Side NavBar Not Functional At the Moment: Still Playing with******************@
    </div>
    <div class="col-xs-12 col-sm-12 col-md-9" id="maincontent">
        <div class="jumbotron" id="heading">@*****************Heading*****************@
            <h1>GOOGLE HARDWARE REVIEWS</h1>
            <p>THE ONLY REVIEWS YOU WILL EVER NEED!</p>
        </div>@*****************Heading*****************@
        <div class="row">@*****************Reviews*****************@
            @foreach (var item in Model) {
                <div class="col-sm-4">
                    <div class="thumbnail" id="reviews">
                            <h3>@Html.DisplayFor(modelItem => item.Name)</h3>
                            <p><h4>@Html.DisplayFor(modelItem => item.Author)</h4>@Html.DisplayFor(modelItem => item.Price)<h4></h4></p>
                            <p>@Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn btn-primary" })</p>
                        </div>
                    </div>
            }
        </div>@*****************Reviews*****************@
    </div>

</div>




